@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(249, 242, 237);
  --foreground: #171717;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-TTCommonsProVar), sans-serif;
  font-size: 1.25rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px; 
  width: 0;
  height: 2px; 
  background-color: currentColor; 
  transition: width 0.3s ease; 
}

.hover-underline-animation:hover::after {
  width: 100%; 
}
.val::after{
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  z-index: 20;
  display: inherit;
  opacity: 1;
  background-color: #171717;
  transition: opacity 0.8s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

@media (min-width: 768px) {

  .val:hover::after{
    opacity: 0;
    pointer-events: none;
  }
}



.img-effect{
  transition:transform 3.25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.img-effect:hover{
  transform: scale(1.5) translateX(-40px) rotate(10deg);
}
