@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(249, 242, 237);
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-TTCommonsProVar), sans-serif;
  font-size: 1.25rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
